@media (max-width:375px) {
    .taitol {
        font-size: 24px;
        text-align: center;
        border-bottom: solid;
        padding-bottom: 20px;
        margin-top: 20px;
    }

    h4 {
        font-size: 20px;
        margin: 2rem;
    }

    p {
        margin: 2rem;
        font-size: 16px;
        border-bottom: solid;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .taitol {
        padding: 2rem 0rem;
        font-size: 48px;
        border-bottom: 2px  solid;
        text-align: center;

    }

    .privacy-h4{
        font-weight: normal;
        font-size: 40px;
        margin: 2rem;
    }

    .body-p {
        margin: 2rem;
        font-size: 24px;
        border-bottom: solid;
        padding-bottom: 3rem;
    }

}