@charset "utf-8";

@media (max-width: 375px) {
    .tabs{
        justify-content: center;
    }

    .tab-buttons {
        display: flex;
        gap: 0px;
        justify-content: center;
    }

    .tab-btn {
        padding: 8px 54px;
        margin: 0;
        margin-top: 16px;
        border: none;
        background: #eee;
        cursor: pointer;
        border-radius: 20px 20px 0 0;
    }

    .tab-btn.active {
        background: #e6522a;
        color: #fff;
    }

    .tab-content {
        display: none;
        margin-top: 16px;
        justify-content: center;
    }

    .tab-content.active {
        display: block;
    }

    .table-header{
        background-color: #dbcfc4;
        color: #3D5E75;
    }

    .tab-content table tbody tr th{
        background-color: #dbcfc4;
        font-size: 10pt;
        width: 30%;
    }

    .tab-content table tbody tr td p{
        font-size: 8pt;
    }

    .artist-img{
        width: 100%;
    }
}